@model IEnumerable<HaritiStyleMe.Web.Models.ServiceItemViewModel>
@using Resources;

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Strings.BookButton
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.ActionLink(Strings.BookButton, "Index", "Scheduler", new { id = item.Id }, new { @class = "btn btn-default" })
                </td>
            </tr>
        }
    </tbody>
</table>
