@using Resources;

@{
    ViewBag.Title = Strings.UserMenuBook;
}

<div class="well">
    <h2>@Strings.BookHeading</h2>

    @using (Ajax.BeginForm("GetServiceItemsByCategoryId", null,
        new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "service-items"
        },
        new { id = "form" }))
    {
        <div class="form-group" style="height: 34px">
            <div class="col-md-10">
                @Html.DropDownList("CategoryId", null, Strings.BookCategoryDefault,
                    htmlAttributes: new { @class = "form-control", @onchange = "$('#form').submit();" })
            </div>
        </div>
    }

    <div id="service-items">

    </div>
</div>

@section styles {
    @Styles.Render("~/Content/kendo")
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryajax")
    @Scripts.Render("~/bundles/kendo")
}